<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <connectionStrings>
    <add name="Asset.Properties.Settings.AssetcontrolConnectionString"
      connectionString="Data Source=ucawvmw\asset;Initial Catalog=Assetcontrol;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="AssetcontrolEntities" connectionString="metadata=res://*/Models.DBAsset.csdl|res://*/Models.DBAsset.ssdl|res://*/Models.DBAsset.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCAWVMW\;initial catalog=Assetcontrol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AssetcontrolEntities1" connectionString="metadata=res://*/purchasing.csdl|res://*/purchasing.ssdl|res://*/purchasing.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAVILA-10TAB\SQLEXPRESS;initial catalog=Assetcontrol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Assetcontrol" connectionString="metadata=res://*/Models.AssetControl.csdl|res://*/Models.AssetControl.ssdl|res://*/Models.AssetControl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAVILA-10TAB\SQLEXPRESS;initial catalog=Assetcontrol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="AssetcontrolEntities2" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=UCAWVMW\ASSET;initial catalog=Assetcontrol;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>